@charset "UTF-8";

body {
    background: url(fundo.jpg);
    /* background-color: red; */
    background-position: 0px -50px;
    background-size: 100%;
 /* background-attachment: fixed; */
    font-family: arial, sans-serif;
    font-size: 18pt;
}

.div1 {
    font-size: 15px;
    font-weight: bold;
    color: rgb(156, 156, 156);
    padding: 8px;
    position: relative;
    width: 700px;
    height: 20px;
    background-color: #071f6e94;
    margin: 200px auto auto auto;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    box-shadow: 3px 3px 0.3px rgba(0,0,0,.3);
    word-wrap: break-word;
}

.div2 {
    padding: 8px;
    position: relative;
    width: 700px;
    height: 500px;
    background-color: #f8f8f8c5;
    margin: auto auto 200px auto;
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    box-shadow: 3px 3px 0.3px rgba(0,0,0,.3);
    word-wrap: break-word;
    font-size: 14pt;
}

.botao {
    color: white;
    background-color: rgb(70, 70, 146);
    height: 30px;
    font-weight: normal;
    font-family: Arial;
    font-size: 18px;
}

.destaque {
    color: #7e1236;
    font-weight: bold;
}

.sel {
    font-size: 20px;
    color: black;
    width: 60px;
}

.opt {
    font-size: 20px;
    height: 25px;
    color: black;
    width: 60px;
}

